*,
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: rgb(212, 226, 237);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  display: flex;
  height: 100vh;
}

.content-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: -5px -5px 30px 5px blueviolet, 5px 5px 30px 5px black;
}

img {
  display: flex;
  height: 350px;
  width: 350px;
  border-radius: 10px;
}

.content-text {
  text-align: center;
}

header {
  font-size: 1.25rem;
}

p {
  font-size: 1.15rem;
  opacity: 50%;
}

a {
  text-decoration-style: double;
  color: blueviolet;
  font-size: 0.75rem;
}

a:hover {
  cursor: pointer;
}
